* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

::placeholder {
  color: var(--color-text-secondary);
  opacity: 0.2;
}

:root[color-mode="light"] {
  --color-bg: white;
  --color-text-primary: white;
  --color-text-dark: #4a4a4a;
  --color-main: #479658;
}

:root[color-mode="dark"] {
  --color-bg: #4a4a4a;
  --color-text-primary: #4a4a4a;
  --color-text-secondary: white;
  --color-main: #479658;
}

body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.hidden {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.main-container {
  height: 100vh;
  margin-top: -5rem;
  letter-spacing: -0.1rem;
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo {
  fill: var(--color-main);
  width: 20rem;
}

.title {
  font-size: 2rem;
}

.main-title {
  margin-bottom: -1rem;
}

input {
  color: var(--color-text-secondary);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-main);
}

input:focus {
  outline: none;
}

.btn-search {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.284));
  padding: 0.5rem 2rem;
  color: var(--color-text-primary);
  border: none;
  border-radius: 5px;
  background-color: var(--color-main);
}

.btn-search:hover {
  cursor: pointer;
  opacity: 0.6;
}

.user-page-link {
  text-decoration: none;
  color: var(--color-text-primary);
}

.user-page-link:active,
.user-page-link:visited {
  color: var(--color-text-primary);
}
