/* ///////////////////////////////////// config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: var(--color-black);
  opacity: 0.2;
}

:root {
  --color-main: #479658;
  --color-black: #4a4a4a;
}

/* ///////////////////////////////////// user page */

.user-page {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin-inline: auto;
}

.header-page {
  color: var(--color-text-secondary);
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-page-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

img {
  width: 15rem;
  border-radius: 100%;
}

.content-page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  padding: 3.5rem;
  border-radius: 8px;
}

.info {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.git-info {
  background-color: white;
  height: rem;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg {
  width: 2rem;
  fill: white;
}

.link-container {
  margin-top: 1rem;
  display: flex;
  color: white;
  gap: 1rem;
  align-items: center;
}

.buttons-sections-main {
  margin-top: 1rem;
  gap: 1rem;
  display: none;
  text-align: center;
}

.link-sections {
  text-decoration: none;
  color: var(--color-text-secondary);
}

@media screen and (max-width: 768px) {
  .header-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-page-content {
    gap: 1rem;
  }

  .git-info {
    padding: 1rem 1.5rem;
  }

  .info {
    flex-direction: column;
  }

  .links {
    justify-content: none;
    flex-direction: column;
    align-items: flex-start;
  }
}
